@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 0 auto;
    height: 800px;
    width: 1440px;
    background-color: $violet;
    background: url("../images/bg-desktop.svg"), $violet;
    background-repeat: no-repeat;
    color: white;

    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.brand {
    padding: 65px 0px;
    img {
        max-width: 200px;
    }
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

.cta-image {
    max-width: 700px;
    flex-basis: 100%;
    img {
        width: 100%;
    }
}

.cta-info {
    margin-top: 3%;
    padding-left: 30px;
    max-width: 550px;
    flex-basis: 95%;
    h1 {
        font-size: 35px;
        padding: 0px 100px 20px 0px;
        font-family: "Poppins", sans-serif;
    }
    p {
        font-size: 16px;
        line-height: 30px;
        padding: 0px 60px 20px 0px;
    }

    button {
        cursor: pointer;
        border: none;
        height: 60px;
        width: 200px;
        border-radius: 50px;
        font-weight: 600;
        color: $violet;
        background-color: white;
        font-size: 16px;
        box-shadow: 5px 5px 20px -5px black;
    }
    button:hover {
        color: white;
        background-color: $soft-magenta;
    }
}

.social-media-icons {
    align-self: flex-end;
}

@media screen and (max-width: 1289px) {
    .container {
        padding: 0px 20px;

        height: initial;
        width: initial;

        background: url(../images/bg-mobile.svg), #674baf;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }
    .content-container {
        align-items: center;
        justify-content: center;
    }
    .cta-info {
        text-align: center;
        margin: 3% 0;
        padding-left: 0px;
        h1 {
            font-size: 30px;
            padding: 0px;
            font-family: "Poppins", sans-serif;
        }
        p {
            font-size: 16px;
            line-height: 30px;
            padding: 0px 0px 20px 0px;
        }

        button {
            height: 40px;
        }
    }

    .cta-image {
        min-width: initial;
    }

    .social-media-icons {
        align-self: center;
        padding-top: 20px;
    }
}
